.botonAzul{
    background-color:#306086;
    color:white;
}

.botonCeleste{
    background-color:#0F9FA8;
    color:white;
}

.botonRosa{
    background-color:#fc447c;
    color:white;
}

.divBuscar{
    padding-left:50px;
    padding-right:50px;
    padding-top:40px;
    padding-bottom:10px;
}

.divEspaciado{
    padding-top:10px;
    padding-bottom:50px;
}
.degrade{
    /*background-image: linear-gradient(to right,white,white,white,#bebebe);*/
}
.divFormulario{
    border-radius:0px;
    -webkit-box-shadow: 5px 2px 14px -1px rgba(0,0,0,0.30);
    -moz-box-shadow: 5px 2px 14px -1px rgba(0,0,0,0.30);
    box-shadow: 5px 2px 14px -1px rgba(0,0,0,0.30);
    color:#306086;
    padding:20px;
    
    /*border-radius: 30px;*/

}

.inputBorder{
    border-left: white;
    border-right: white;
    border-top:white;
    border-bottom: 2px solid #fc447c ;
}

.bordeSombreado{
    -webkit-box-shadow: 5px 2px 14px -1px rgba(0,0,0,0.30);
    -moz-box-shadow: 5px 2px 14px -1px rgba(0,0,0,0.30);
    box-shadow: 5px 2px 14px -1px rgba(0,0,0,0.30);
    border: 1px solid #8CCACE;
}

.ancho{
    width: 350px;
    
}

.espaciado{
    padding: 50px;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.botonBuscar{
    width: 200px;
}

.acortadoInput{
    width:600px;
}
.svgMenu{
    margin-bottom: 3px;
}
.svg{
    margin-bottom: 5px;
}


